/* Social Media Button styling in navBar */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
}

/* Hover Effect for Social Media Buttons */
.fa:hover {
  opacity: 0.7;
}

/* Social Media button colors */
.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin-in {
  background: #007bb5;
  color: white;
}

/* Main Body Styling and provided CSS formatting */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 30px;
  border-top: 1px solid white;
}

.time-block {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-bottom: 1px dashed black;
  border-left: 1px dashed black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 15px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.note-input {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* Footer */
.footer {
  position: fixed;
  padding: 0.8rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
  z-index: 1;
}
